.bs-awards {
    .img-wrap {
        text-align: center;
        display: block !important;
        img {
            max-width: 100%;
            width: auto;
        }
    }
    .info-wrap {
        text-align: center;
        .awards-title {
            font-size: 1.8rem;
            line-height: 2.8rem;
            font-weight: 700;
            color: #212529;
            margin-bottom: 1rem;
        }
        .awards-desc p {
            margin-bottom: 1rem;
            font-size: 1.8rem;
            line-height: 2.8rem;
            color: #212529;
            font-weight: 400;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .bs-img-desc {
        .right-side,
        .left-side {
            .img-wrap {
                min-height: auto;
                margin-bottom: 2rem;
            }
        }
    }
    .first-award,
    .second-award {
        margin-top: 2rem;
        .img-wrap {
            min-height: auto;
        }
    }
}

@media screen and (max-width: $xs) {
    .bs-awards {
        .img-wrap {
            height: auto !important;
        }
    }
}