//bs-modal
.bs-modal{
    background: $clr-white;
    border-radius: 0.2rem;
    width: 98vw;
    height: 98vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.8);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 25;
    overflow: hidden;
    &.active{
        transform: translate(-50%,-50%) scale(1);
        opacity: 1;
        visibility: visible;
    }
    .modal-close{
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        font-size: 2rem;
        color: $clr-white;
        z-index: 1;
    }
}

// .modal-overlay{
//     position: relative;
//     &:before{
//         position: fixed;
//         left: 0;
//         right: 0;
//         top: 0;
//         bottom: 0;
//         z-index: 20;
//         background: rgba( 225, 225, 225, 0.25 );
//         backdrop-filter: blur( 6.5px );
//         -webkit-backdrop-filter: blur( 6.5px );
//     }
// }