//bs-gallery
.bs-gallery{
    position: relative;
    padding-bottom: 12rem;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    .gallery-head{
        height: 45rem;
        position: relative;
        .swiper-container{
            height: 100%;
        }
        .swiper-slide{
            position: relative;
            background-position: center center;
            &:before{
                content:'';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                z-index: 1;
                background: rgba(0,0,0,0);
                background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.06) 64%, rgba(0,0,0,0.66) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(64%, rgba(0,0,0,0.06)), color-stop(100%, rgba(0,0,0,0.66)));
                background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.06) 64%, rgba(0,0,0,0.66) 100%);
                background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.06) 64%, rgba(0,0,0,0.66) 100%);
                background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.06) 64%, rgba(0,0,0,0.66) 100%);
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.06) 64%, rgba(0,0,0,0.66) 100%);
                filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 )";
            }
        }
        .gallery-slide-info{
            position: absolute;
            left: 4rem;
            bottom: 2rem;
            max-width: 70rem;
            z-index: 1;
            p{
                font-size: 1.6rem;
                line-height: 2rem;
                color: $clr-white;
                
            }
        }
    }
    .gallery-footer{
        height: 12rem;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background: $clr-black;
        padding:1rem;
        .swiper-container{
            height: 100%;
            .swiper-slide{
                border:3px solid transparent;
                transition: all 0.3s ease;
                cursor: pointer;
                &.swiper-slide-thumb-active{
                    border-color: $clr-primary;
                }
                img{
                    height: 100%;
                }
            }
        }
        .lozad-background{
            background-position: center center;
        }
    }
    .swiper-button-next,.swiper-button-prev{
        width: 4rem;
        height: 4rem;
        overflow: hidden;
        border-radius: 100%;
        background: $clr-primary;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
        &:after{
            font-size: 2rem;
            color: $clr-white;
        }
    }
    .swiper-pagination{
        display: none;
        bottom: 2rem;
        left: auto;
        width: 100%;
        right: auto;
        margin: 0 auto;
    }
    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background-color: $clr-white;
        border-radius: 5px;
        opacity: 1;
        position: relative;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.11);
        -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.11);
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.11);
        transition: all 0.3s ease;
        &.swiper-pagination-bullet-active {
            width: 3.5rem;
            background-color: $clr-primary;
            &:after {
                display: block;
                animation: fill 5s linear;
            }
        }
    }
    
}

@media screen and (max-width: $xs){
    .bs-gallery{
        padding-bottom: 0;
        .gallery-footer{
            display: none;
        }
        .swiper-button-next,.swiper-button-prev{
            display: none;
        }
        .swiper-pagination{
            display: block;
        }
        .gallery-head{
            .gallery-slide-info{
                width: auto;
                left: 2rem;
                right: 2rem;
                bottom: 5rem;
                text-shadow: 5px 1px 8px rgba(154, 154, 154, 1);
                max-width: initial;
            }
        }
    }
}