.bs-blog-detail {
    .bd-title{
        font-size: 3.6rem;
        font-weight: $font-black;
        line-height: 3.8rem;
        padding-top: 1.1rem;
        position: relative;
        text-transform: uppercase;
        margin-bottom: 4rem;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            width: 4.2rem;
            height: 0.7rem;
            background: $clr-primary;
            transform: skew(-45deg);
        }
    }
    .list li {
        list-style: circle;
        padding-bottom: 1rem;
        list-style-position: inside;
    }
    .bs-chain-info .item {
        margin-bottom: 10rem;
    }
    // .bs-swiper-detail,
    // .swiper-dual {
    //     position: relative;
    //     height: 45rem;
    //     overflow: hidden;
    //     .swiper-container {
    //         height: 100%;
    //     }
        
    //     .banner-title {
    //         font-size: 7rem;
    //         font-weight: $font-black;
    //         line-height: 6.6rem;
    //         padding-top: 2rem;
    //         position: relative;
    //         color: $clr-white;
    //         text-transform: uppercase;
    //         position: absolute;
    //         left: 13.5rem;
    //         top: 45%;
    //         transform: translateY(-50%);
    //         z-index: 2;
    //         &::before {
    //             content: "";
    //             position: absolute;
    //             top: 0;
    //             left: 1rem;
    //             width: 5.2rem;
    //             height: 1rem;
    //             background: $clr-primary;
    //             transform: skew(-45deg);
    //         }
    //     }
    //     .banner-info {
    //         position: absolute;
    //         top: 3rem;
    //         left: 3rem;
    //         z-index: 2;
    //         max-width: 70rem;
    //     }
    //     .swiper-pagination-bullet {
    //         width: 4.9rem;
    //         height: 0.5rem;
    //         background-color: $clr-white;
    //         transform: skew(-45deg);
    //         border-radius: 0;
    //         opacity: 1;
    //         position: relative;
    //         overflow: hidden;
    //         &:after {
    //             content: '';
    //             position: absolute;
    //             top: 0;
    //             left: 0;
    //             right: 0;
    //             bottom: 0;
    //             background: $clr-primary;
    //             display: none;
    //             transition: all 0.3s ease;
    //         }
    //         &.swiper-pagination-bullet-active {
    //             &:after {
    //                 display: block;
    //                 animation: fill 5s linear;
    //             }
    //         }
    //     }
    //     .banner-extra-info {
    //         position: absolute;
    //         z-index: 3;
    //         bottom: 1rem;
    //         right: 1rem;
    //     }
    // }
}

@media screen and (max-width: $xs) {
    .bs-blog-detail {
        .bs-chain-info .item {
            margin-bottom: 2rem;
        }
        .bs-swiper-detail {
            .banner-title {
                font-size: 3.5rem;
                line-height: 3.7rem;
                left: 3rem;
                padding-top: 1.5rem;
                &:before {
                    width: 3.5rem;
                    height: 0.5rem;
                }
            }
            .corner-shape {
                border-width: 0 0 15rem 15rem;
            }
            .banner-info {
                left: 3rem;
                bottom: 0;
                right: 3rem;
                top: -27rem;
            }
            .swiper-pagination-bullet {
                width: 2rem;
                height: 3px;
            }
            .swiper-pagination {
                bottom: 2rem;
                left: 3rem;
                width: auto;
                right: auto;
            }
        }
    }
}