@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/icomoon.eot?jqv9rp');
    src:  url('../../fonts/icomoon.eot?jqv9rp#iefix') format('embedded-opentype'),
      url('../../fonts/icomoon.ttf?jqv9rp') format('truetype'),
      url('../../fonts/icomoon.woff?jqv9rp') format('woff'),
      url('../../fonts/icomoon.svg?jqv9rp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-pdf:before {
    content: "\f1c1";
  }
  .icon-pause:before {
    content: "\e910";
  }
  .icon-play:before {
    content: "\e911";
  }
  .icon-radio-uncheck:before {
    content: "\e906";
  }
  .icon-full:before {
    content: "\e913";
  }
  .icon-check:before {
    content: "\e909";
  }
  .icon-uncheck:before {
    content: "\e90a";
  }
  .icon-radio-check:before {
    content: "\e90b";
  }
  .icon-done:before {
    content: "\e90c";
  }
  .icon-upload:before {
    content: "\e90d";
  }
  .icon-right:before {
    content: "\e90e";
  }
  .icon-left:before {
    content: "\e90f";
  }
  .icon-minus:before {
    content: "\e907";
  }
  .icon-plus:before {
    content: "\e908";
  }
  .icon-close:before {
    content: "\e904";
  }
  .icon-file:before {
    content: "\e905";
  }
  .icon-download:before {
    content: "\e903";
  }
  .icon-linkedin:before {
    content: "\e902";
  }
  .icon-globe:before {
    content: "\e900";
  }
  .icon-search:before {
    content: "\e901";
  }
  