<div class="bs-header">
    <a href="index.shtml" class="logo-wrap">
        <img src="assets/images/logo-white.png" alt="Company Logo" title="Amada Company Logo">
    </a>
    <div class="bs-nav">
        <button class="nav-btn btn-close js-nav-close"><span class="icon icon-close"></span></button>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="index.shtml" class="nav-link">home</a>
            </li>
            <li class="nav-item bs-sub-menu">
                <a href="#" class="nav-link mb-sub-menu-title">Company Profile</a>
                <div class="menu-wrap mb-sub-menu-body">
                    <ul class="quicklink-item-wrap top">
                        <li class="quicklink-item">
                            <div class="mod-quicklink">
                                <ul class="wrap">
                                    <li class="item">
                                        <a href="company-overview.shtml" class="title">Introduction</a>
                                    </li>
                                    <li class="item">
                                        <a href="presidents-message.shtml" class="title">Presidents Message</a>
                                    </li>
                                    <li class="item">
                                        <a href="corporate-video.shtml" class="title">Corporate Video</a>
                                    </li>
                                    <li class="item">
                                        <a href="customer-details.shtml" class="title">Customer Details</a>
                                    </li>
                                    <li class="item">
                                        <a href="https://www.amada.com/" target="_blank" class="title">Amada Worldwide</a>
                                    </li>
                                    <li class="item">
                                        <a href="csr.shtml" class="title">Corporate Social Responsibility</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item bs-sub-menu typ-mega-menu">
                <a href="#" class="nav-link mb-sub-menu-title">products</a>
                <div class="menu-wrap mb-sub-menu-body">
                    <ul class="quicklink-item-wrap top">
                        <li class="quicklink-item">
                            <div class="mod-quicklink">
                                <h2 class="title mb-accord-title">
                                    <a href="laser-machines.shtml">laser machines</a></h2>
                                <ul class="wrap mb-accord-body">
                                    <li class="item">
                                        <a href="laser-machines-ventis-aj-product-details.shtml" class="link">VENTIS-AJ series</a>
                                    </li>
                                    <li class="item">
                                        <a href="laser-machines-ensis-aj-product-details.shtml" class="link">ENSIS-AJ series</a>
                                    </li>
                                    <li class="item">
                                        <a href="laser-machines-ensis-3015-ri-product-details.shtml" class="link">ENSIS-3015 RI</a>
                                    </li>
                                    <li class="item">
                                        <a href="laser-machines-lcg-3015-product-details.shtml" class="link">LCG-3015 AJ II</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="quicklink-item">
                            <div class="mod-quicklink">
                                <h2 class="title mb-accord-title">
                                    <a href="combination-machines.shtml">Combination machines</a>
                                </h2>
                                <ul class="wrap mb-accord-body">
                                    <li class="item">
                                        <a href="combination-machines-lc-c1aj-product-details.shtml" class="link">LC-C1AJ series</a>
                                    </li>
                                    <li class="item">
                                        <a href="combination-machines-eml-aj-product-details.shtml" class="link">EML-AJ series</a>
                                    </li>
                                    <li class="item">
                                        <a href="combination-machines-acies-aj-product-details.shtml" class="link">ACIES-AJ series</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="quicklink-item">
                            <div class="mod-quicklink">
                                <h2 class="title mb-accord-title">
                                    <a href="punching-machines.shtml">Punching machines</a>
                                </h2>
                                <ul class="wrap mb-accord-body">
                                    <li class="item">
                                        <a href="punching-machines-em-zr-product-details.shtml" class="link">EM-ZR series</a>
                                    </li>
                                    <li class="item">
                                        <a href="punching-machines-em-mii-product-details.shtml" class="link">EM-MII series</a>
                                    </li>
                                    <li class="item">
                                        <a href="punching-machines-ae-nt-product-details.shtml" class="link">AE-NT series</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="quicklink-item">
                            <div class="mod-quicklink">
                                <h2 class="title mb-accord-title">
                                    <a href="press-brakes.shtml">Press Brakes</a>
                                </h2>
                                <ul class="wrap mb-accord-body">
                                    <li class="item">
                                        <a href="press-brake-machines-hg-product-details.shtml" class="link">HG Series</a>
                                    </li>
                                    <li class="item">
                                        <a href="press-brake-machines-hg-atc-product-details.shtml" class="link">HG-ATC Series</a>
                                    </li>
                                    <li class="item">
                                        <a href="press-brake-machines-hg-1303rm-product-details.shtml" class="link">HG-1303Rm</a>
                                    </li>
                                    <li class="item">
                                        <a href="press-brake-machines-hrb-product-details.shtml" class="link">HRB Series</a>
                                    </li>
                                    <li class="item">
                                        <a href="press-brake-machines-eg-product-details.shtml" class="link">EG Series</a>
                                    </li>
                                    <li class="item">
                                        <a href="press-brake-machines-rgm2-product-details.shtml" class="link">RGM2 Series</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="quicklink-item-wrap bottom">
                        <li class="quicklink-item">
                            <div class="mod-quicklink">
                                <h2 class="title mb-accord-title">
                                    <a href="automation.shtml">Automation</a>
                                </h2>
                                <ul class="wrap mb-accord-body">
                                    <li class="item">
                                        <a href="automation-rmp-ntk-product-details.shtml" class="link">Takeout Loader (RMP-NTK)</a>
                                    </li>
                                    <li class="item">
                                        <a href="automation-as-ntk-product-details.shtml" class="link">Takeout Loader (AS-NTK)</a>
                                    </li>
                                    <li class="item">
                                        <a href="automation-asr-n-product-details.shtml" class="link">Cycle Loader (ASR-N)</a>
                                    </li>
                                    <li class="item">
                                        <a href="automation-mars-product-details.shtml" class="link">MARS</a>
                                    </li>
                                    <li class="item">
                                        <a href="automation-fork-pallet-product-details.shtml" class="link">Fork Pallet Changer (ASF/ASFH)</a>
                                    </li>
                                    <li class="item">
                                        <a href="automation-pallet-as-product-details.shtml" class="link">Pallet Changer (AS)</a>
                                    </li>
                                    <li class="item">
                                        <a href="automation-manipulator-product-details.shtml" class="link">Manipulator (MPL)</a>
                                    </li>
                                    <li class="item">
                                        <a href="automation-lst-product-details.shtml" class="link">Shuttle Table (LST)</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="quicklink-item">
                            <div class="mod-quicklink">
                                <h2 class="title mb-accord-title">Tooling</h2>
                                <ul class="wrap mb-accord-body">
                                    <li class="item">
                                        <a href="#" class="link">AITS</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">NEX III</a>
                                    </li>
                                    <li class="item">
                                        <a href="tooling-contouring-product-details.shtml" class="link">Contouring</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">ARFT</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">V-Cut</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">MPT Tapping</a>
                                    </li>
                                    <li class="item">
                                        <a href="tooling-high-speed-product-details.shtml" class="link">High Speed Marking</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">Standard</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">Special Order</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">AMADA Modular</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">Hydraulic Clamping Holder A GRIP</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">AFH</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="quicklink-item">
                            <div class="mod-quicklink">
                                <h2 class="title mb-accord-title">Software</h2>
                                <ul class="wrap mb-accord-body">
                                    <li class="item">
                                        <a href="software-production-design-product-details.shtml" class="link">VPSS 3i</a>
                                    </li>
                                    <li class="item">
                                        <a href="software-bend-plus-product-details.shtml" class="link">Bend Plus</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">Blank Plus</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">AP100 LE</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">SheetWorks for Unfold</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">Kaizen</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">Dr. Abe Tube</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">vLot Manager</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">AITS Software</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">PeuWin</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">vFactory</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="quicklink-item">
                            <div class="mod-quicklink">
                                <h2 class="title mb-accord-title">General fabricating machines</h2>
                                <ul class="wrap mb-accord-body">
                                    <li class="item">
                                        <a href="fabricating-machine-id-togu-product-details.shtml" class="link">ID-TOGU</a>
                                    </li>
                                    <li class="item">
                                        <a href="fabricating-machine-togu-iii-product-details.shtml" class="link">TOGU III</a>
                                    </li>
                                    <li class="item">
                                        <a href="fabricating-machine-flw-product-details.shtml" class="link">FLW series</a>
                                    </li>
                                    <li class="item">
                                        <a href="fabricating-machine-ylr-product-details.shtml" class="link">YLR series</a>
                                    </li>
                                    <li class="item">
                                        <a href="fabricating-machine-ylm-product-details.shtml" class="link">YLM series</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">ID series</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">TS series</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" class="link">NC Stud welding machine</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item bs-sub-menu">
                <a href="#" class="nav-link mb-sub-menu-title">services</a>
                <div class="menu-wrap mb-sub-menu-body">
                    <ul class="quicklink-item-wrap top">
                        <li class="quicklink-item">
                            <div class="mod-quicklink">
                                <ul class="wrap">
                                    <li class="item">
                                        <a href="service-support.shtml" class="title">Service Support</a>
                                    </li>
                                    <li class="item">
                                        <a href="service-extended-warranty.shtml" class="title">Service Extended Warranty</a>
                                    </li>
                                    <li class="item">
                                        <a href="service-adss.shtml" class="title">Service ADSS</a>
                                    </li>
                                    <!-- <li class="item">
                                        <a href="faq.shtml" class="title">Service FAQ</a>
                                    </li> -->
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item bs-sub-menu">
                <a href="#" class="nav-link mb-sub-menu-title">vocational centre</a>
                <div class="menu-wrap mb-sub-menu-body">
                    <ul class="quicklink-item-wrap top">
                        <li class="quicklink-item">
                            <div class="mod-quicklink">
                                <ul class="wrap">
                                    <li class="item">
                                        <a href="trainingabout.shtml" class="title">About</a>
                                    </li>
                                    <li class="item">
                                        <a href="trainingcourses.shtml" class="title">training courses offered</a>
                                    </li>
                                    <li class="item">
                                        <a href="precision_sheetmetal.shtml" class="title">Precision Sheet Metal Technology Fair</a>
                                    </li>
                                    <!-- <li class="item">
                                        <a href="trainingschedule.shtml" class="title">Schedule</a>
                                    </li> -->
                                    <li class="item">
                                        <a href="trainingcontact.shtml" class="title">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="newsevents.shtml" class="nav-link">news &amp; events</a>
            </li>
            <li class="nav-item">
                <a href="careers.shtml" class="nav-link">career</a>
            </li>
            <li class="nav-item bs-sub-menu">
                <a href="#" class="nav-link mb-sub-menu-title">contact</a>
                <div class="menu-wrap mb-sub-menu-body">
                    <ul class="quicklink-item-wrap top">
                        <li class="quicklink-item">
                            <div class="mod-quicklink">
                                <ul class="wrap">
                                    <li class="item">
                                        <a href="contact-us.shtml" class="title">Contact Us</a>
                                    </li>
                                    <li class="item">
                                        <a href="enquiry.shtml" class="title">Enquiry</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="bs-side-nav">
        <ul class="nav-list">
            <li class="nav-item hidden-xs">
                <div class="mod-social-links">
                    <a href="#" class="icon icon-youtube"><img src="assets/images/youtube.svg"></a>
                    <a href="#" class="icon icon-linkedin-o"><img src="assets/images/linkedin.svg"></a>
                </div>
            </li>
            <li class="nav-item">
                <a href="https://www.amada.com/" target="_blank" class="nav-link"><span class="text">in</span><span class="icon icon-globe"></span></a>
            </li>
            <!-- <li class="nav-item">
                <a href="#" class="nav-link"><span class="icon icon-search"></span></a>
            </li> -->
            <li class="nav-item">
                <div class="menu-btn js-menu-open">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </li>
        </ul>
    </div>
</div>