<div class="bs-banner homeSwiper js-bg">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide js-addto">
                <div class="banner-title-wrap">
                    <h2 class="banner-title">Growing <span class="cm-line-break">Together</span></h2>
                    <p class="banner-sub-title">Growing Together with Our Customers</p>
                </div>
                <img src="assets/images/banner/banner-slide-1.jpg" alt="banner image 1" class="js-img" />
                <div class="banner-info mod-count-text">
                    <div class="count">01</div>
                    <div class="text">AMADA (INDIA) PVT. LTD. <span class="cm-line-break">Bangalore Technical Center</span></div>
                </div>
                <span class="corner-shape"></span>
                <!-- <div class="mod-count-text typ-sm banner-extra-info">
                    <div class="count">02</div>
                    <div class="text">AMADA INDIA <span class="cm-line-break">Bangalore Technical</span>
                        <span class="cm-line-break">Center</span></div>
                </div> -->

            </div>
            <div class="swiper-slide js-addto">
                <div class="banner-title-wrap">
                    <h2 class="banner-title">Comprehensive <span class="cm-line-break">manufacturer</span></h2>
                    <p class="banner-sub-title">Comprehensive manufacturer Of metalworking machinery</p>
                </div>
                <img src="assets/images/banner/banner-slide-2.jpg" alt="banner image 2" class="js-img"/>
                <div class="banner-info mod-count-text">
                    <div class="count">02</div>
                    <div class="text">AMADA (INDIA) PVT. LTD. <span class="cm-line-break">Bangalore Technical Center</span></div>
                </div>
                <span class="corner-shape"></span>
                <!-- <div class="mod-count-text typ-sm banner-extra-info">
                    <div class="count">03</div>
                    <div class="text">Laser Solutions</div>
                </div> -->
            </div>
            <div class="swiper-slide  typ-product js-addto">
                <div class="banner-title-wrap">
                    <h2 class="banner-title">VENTIS3015 AJ</h2>
                    <p class="banner-sub-title">World’s First Fiber Laser with LBC Technology</p>
                    <a href="laser-machines-ventis-aj-product-details.shtml" class="bs-btn btn-default">click here for details</a>
                </div>
                <div class="banner-info mod-count-text">
                    <div class="count">03</div>
                    <div class="text">Laser Solutions</div>
                </div>
                <span class="corner-shape"></span>
                <!-- <div class="mod-count-text typ-sm banner-extra-info">
                    <div class="count">04</div>
                    <div class="text">Laser Solutions</div>
                </div> -->
                <!-- <img src="assets/images/banner/banner-3.jpg" > -->
                <picture>
                    <source srcset="assets/images/banner/banner-3.jpg" media="(min-width: 1280px)">
                    <source srcset="assets/images/banner/banner-3.jpg" media="(min-width: 980px)">
                    <source srcset="assets/images/banner/banner-slide-3-new1-mb.jpg" media="(min-width: 320px)">
                    <img src="" class="js-img">
                </picture>
            </div>
            <div class="swiper-slide  typ-product js-addto">
                <div class="banner-title-wrap">
                    <h2 class="banner-title">EM Z 3510 MII</h2>
                    <p class="banner-sub-title">The AC servo direct twin drive NCT with a hit rate of 500 hpm</p>
                    <a href="#" class="bs-btn btn-default">click here for details</a>
                </div>
                <div class="banner-info mod-count-text">
                    <div class="count">04</div>
                    <div class="text">Punching Solutions</div>
                </div>
                <span class="corner-shape"></span>
                <!-- <div class="mod-count-text typ-sm banner-extra-info">
                    <div class="count">05</div>
                    <div class="text">Combination <span class="cm-line-break">Machine</span></div>
                </div> -->
                <picture>
                    <source srcset="assets/images/banner/banner-4.jpg" media="(min-width: 1280px)">
                    <source srcset="assets/images/banner/banner-4.jpg" media="(min-width: 980px)">
                    <source srcset="assets/images/banner/banner-slide-4-new1-mb.jpg" media="(min-width: 320px)">
                    <img src="" class="js-img">
                </picture>
            </div>
            <div class="swiper-slide  typ-product js-addto">
                <div class="banner-title-wrap">
                    <h2 class="banner-title">LC 2515C1 AJ</h2>
                    <p class="banner-sub-title">Process integrated, technology built-in, compact punch/laser combination machine</p>
                    <a href="#" class="bs-btn btn-default">click here for details</a>
                </div>
                <div class="banner-info mod-count-text">
                    <div class="count">05</div>
                    <div class="text">Combination Machine</div>
                </div>
                <span class="corner-shape"></span>
                <!-- <div class="mod-count-text typ-sm banner-extra-info">
                    <div class="count">06</div>
                    <div class="text">Press brakes</div>
                </div> -->
                <picture>
                    <source srcset="assets/images/banner/banner-5.jpg" media="(min-width: 1280px)">
                    <source srcset="assets/images/banner/banner-5.jpg" media="(min-width: 980px)">
                    <source srcset="assets/images/banner/banner-slide-5-new1-mb.jpg" media="(min-width: 320px)">
                    <img src="" class="js-img">
                </picture>
            </div>
            <div class="swiper-slide  typ-product js-addto">
                <div class="banner-title-wrap">
                    <h2 class="banner-title">HG 1303</h2>
                    <p class="banner-sub-title">High speed & High accuracy hybrid digital machine</p>
                    <a href="#" class="bs-btn btn-default">click here for details</a>
                </div>
                <div class="banner-info mod-count-text">
                    <div class="count">06</div>
                    <div class="text">Press brakes</div>
                </div>
                <span class="corner-shape"></span>
                <!-- <div class="mod-count-text typ-sm banner-extra-info hidden-xs">
                    <div class="count">07</div>
                    <div class="text">Corporate Profile</div>
                </div> -->
                <!-- <div class="mod-count-text typ-sm banner-extra-info visible-xs">
                    <div class="count">01</div>
                    <div class="text">AMADA INDIA <span class="cm-line-break">Bangalore Technical</span>
                        <span class="cm-line-break">Center</span></div>
                </div> -->
                <picture>
                    <source srcset="assets/images/banner/banner-6.jpg" media="(min-width: 1280px)">
                    <source srcset="assets/images/banner/banner-6.jpg" media="(min-width: 980px)">
                    <source srcset="assets/images/banner/banner-slide-6-new1-mb.jpg" media="(min-width: 320px)">
                    <img src="" class="js-img">
                </picture>
            </div>
            <div class="swiper-slide lozad-background hidden-xs js-video-slide typ-video" data-background-image="assets/images/poster-image.jpg" data-swiper-autoplay="22000">
                <!--  -->
                <!-- <div class="banner-info action-btn">
                    <a href="corporate-video.shtml" class="bs-btn btn-default">View Corporate Video</a>
                </div> -->
                <video width="100%" height="100%" autoplay loop muted class="lozad-picture" data-poster="assets/images/banner-video-poster1.jpg">
                    <source data-src="assets/video/banner-video.mp4" type="video/mp4">
                    <source data-src="assets/video/banner-video.ogg" type="video/ogg">
                </video>
                <button class="btn-play js-modal-btn" data-target="videoModal"><span class="icon icon-full"></span><span class="text">View full video</span></button>
                <span class="corner-shape"></span>
                <!-- <div class="mod-count-text typ-sm banner-extra-info">
                    <div class="count">01</div>
                    <div class="text">AMADA INDIA <span class="cm-line-break">Bangalore Technical</span>
                        <span class="cm-line-break">Center</span></div>
                </div> -->

            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>


<div class="bs-modal" id="videoModal">
    <div class="modal-head">
        <button class="modal-close js-modal-close" type="button"><span class="icon icon-close"></span></button>
    </div>
    <div class="modal-content">
        <video id="slideVideo" width="100%" height="auto" controls class="lozad-picture" data-poster="assets/images/banner-video-poster1.jpg">
            <source data-src="assets/video/video.mp4" type="video/mp4">
            <source data-src="assets/video/video.ogg" type="video/ogg">
        </video>
    </div>
</div>