.mod-add {
    .info-wrap .title {
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 900;
        text-transform: capitalize;
        line-height: 2.4rem;
    }
    .sec-desc p {
        font-size: 1.4rem;
        line-height: 2rem;
        color: $clr-base;
        font-weight: $font-regular;
    }
}