//lyt-awards
.lyt-awards{
    .awards-list{
        display: flex;
        align-items: flex-start;
        margin: 0 -1.5rem;
        flex-flow: row wrap;
        .awards-item{
            width: 50%;
            padding: 0 1.5rem;
            margin-bottom: 3rem;
            &.last-child{
                margin-bottom: 0;
            }
        }
    }
    &.typ-col-3{
        .awards-list{
            .awards-item{
                width: 33.33%
            }
        }
    }
    &.typ-col-4{
        .awards-list{
            .awards-item{
                width: 25%;
                margin-bottom: 3rem;
            }
        }
    }
}

@media screen and (max-width: $xs){
    .lyt-awards{
        .awards-list, &.typ-col-3 .awards-list, &.typ-col-4 .awards-list{
            margin: 0;
        }
        .awards-list .awards-item, &.typ-col-3 .awards-list .awards-item, &.typ-col-4 .awards-list .awards-item{
            width: 100%;
            margin-bottom: 3rem;
            padding: 0;
            &:last-child,&.last-child{
                margin-bottom: 0;
            }
        }
    }
}