/* colors */

$clr-white: #ffffff;
$clr-black: #000000;
$clr-primary: #d31c2e;
$clr-secondary: #191919;
$clr-base: #212529;
$clr-base-light: #e2e2e2;
$clr-light-grey:#f7f7f7;
$clr-grey: #cccccc;

/*font family*/

$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-xbold: 800;
$font-black: 900;

/* breakpoints */

$xl: 1660px;
$lg: 1400px;
$md: 1200px;
$sm: 1020px;
$xs: 767px;
$xxs: 370px;
